/* ============================  TRIVIA GAME  ========================== */

h3 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 50px;
    color: black;
    /* background-color: rgba(0, 0, 0, 0.7);
    border-radius: 25px;
    width: 300px;
      padding: 10px;
    margin-left: 34.375%; */
}



.bgTest {
    background-image: url(../images/pixelated_bg1.gif);
    /* background-image: url(../images/dust_scratches.png); */
    height: 600px;
    width: 960px;
    background-repeat: no-repeat;
    background-size: cover;
    float: none;
    /* Positioning */
    margin: 0 auto;
    text-align: center;
}

.answers{
    margin: 0 auto;
    text-align: center;
    float: none;
    width: 400px;
    /* background-color: red;
    color: white; */

}

#answer0 {
    margin: 10px;
}

#answer1 {
    margin: 10px;
}

#answer2 {
    margin: 10px;
}

#answer3 {
    margin: 10px;
}

.row-header {
    text-align: center;
    font-size: 20px;
    color: black;
    vertical-align: middle;
    font-weight: 700px;
}

#start {
    background-color: none;
    border-radius: none;
}

#time {
    /* background-color: rgba(252, 252, 252, 0.7);
	border-radius: 25px; */
    width: 300px;
    padding: 10px;
    margin-left: 34.375%;
    border-radius: 25px;

}


#questions {
    /* background-color: rgba(252, 252, 252, 0.7);
	border-radius: 25px; */
    margin-bottom: 10px;
    width: 300px;
    padding: 10px;
    margin-left: 34.375%;
    border-radius: 25px;
}


#result {
    /* background-color: rgba(252, 252, 252, 0.7);
	border-radius: 25px; */
    width: 300px;
    padding: 10px;
    margin-left: 34.375%;
    border-radius: 25px;
}

.button {
    background-color: white;
    padding: 10px;
    box-shadow: black, 2px;
    border-radius: 20px;
}

/* ============================  nav  ========================== */


ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
  }
  
  li {
	float: right;
  }
  
  li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	border-radius: 25px;
  }
  
  li a:hover:not(.active) {
	background-color:  firebrick;
	border-radius: 25px;
  }
  
  .active {
	background-color: firebrick;
	border-radius: 25px;
  }